/* CSS Version 1.1 https: //github.com/stadium-software/collapse-controls */
.collapsible-control-wrapper {
    display: inline-block;
    border: 0.1rem solid var(--collapsible-control-border-color, var(--GENERAL-BORDER-COLOR));
    margin-top: 1rem;
    margin-right: 1.6rem;
    vertical-align: top;
    background-color: var(--collapsible-control-background-color, var(--BODY-BACKGROUND-COLOR));

    .collapsible-control-header {
        cursor: pointer;
        user-select: none;
        position: relative;
        display: flex;
        align-items: center;
        font-size: var(--collapsible-control-header-font-size, var(--FONT-SIZE-LARGE));
        color: var(--collapsible-control-header-font-color, var(--BODY-FONT-COLOR));
        padding: var(--collapsible-control-header-topbottom-padding, 0.6rem) var(--collapsible-control-header-rightleft-padding, 1.2rem);
        padding-right: max(3.6rem, var(--collapsible-control-header-rightleft-padding, 1.2rem));
        min-height: var(--collapsible-control-header-collapse-image-size, 2rem);
        background-color: var(--collapsible-control-header-background-color, var(--DARKER-GREY));
    }

    .collapsible-control-header:before {
        content: "";
        position: absolute;
        width: var(--collapsible-control-header-collapse-image-size, 2rem);
        height: 100%;
        top: 0;
        right: var(--collapsible-control-header-rightleft-padding, 1.2rem);
        background-image: var(--collapsible-control-header-collapse-image, url('data: image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggZmlsbD0iIzg4ODg4OCIgZD0ibTY0IDE0NGwxOTIgMjI0bDE5Mi0yMjRINjR6Ii8+PC9zdmc+'));
        background-repeat: no-repeat;
        background-position: center;
        background-size: var(--collapsible-control-header-collapse-image-size, 2rem);
        transition: transform var(--collapsible-control-expansion-speed, 500ms);
        transform: rotate(180deg);
    }

    .collapsible-control-inner {
        display: grid;
        grid-template-rows: 1fr;
        transition: grid-template-rows var(--collapsible-control-expansion-speed, 500ms), padding var(--collapsible-control-expansion-speed, 500ms);
        padding: 0 var(--collapsible-control-rightleft-padding, 1.2rem);

        > div {
            overflow: hidden;
            padding-right: 0;
            margin-top: 0;
        }

        > .control-container > *:first-child {
            padding-top: 1rem;
        }
    }

}
.control-collapsed .collapsible-control-inner {
    grid-template-rows: 0fr;
}
.control-collapsed .collapsible-control-header:before {
    transform: rotate(0deg);
}
html {
    min-height: 100%;
    font-size: 62.5%;
}